@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "tailwindcss";

body {
  font-family: Inter, system-ui, sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
